[namespace] [package-value][line-end]
[imports]
[class-annotations]
[class-encaps] [class] [class-name-maj][controller-suffix][bracket-start]
    [fields]
    [constructor-encaps] [class-name-maj][controller-suffix][parenthesis-start][constructor-parameters][parenthesis-end][bracket-start]
        [parameters-setup]
    [bracket-end]
    [methods]
[bracket-end]