[field-annotations]
[field-encaps] [field-type] [field-name-min][line-end]
[getter-encaps] [field-type] [getter-prefix][field-name-maj][parenthesis-start][parenthesis-end][bracket-start]
    [return] [self][dot][field-name-min][line-end]
[bracket-end]
[setter-encaps] [void] [setter-prefix][field-name-maj][parenthesis-start][field-type] [field-name-min][parenthesis-end][bracket-start]
    [self][dot][field-name-min] [equals] [field-name-min][line-end]
[bracket-end]